{% extends "layout.html" %}

{% block login %}
 
   <!-- Side widgets-->
    <div class="col-lg-4 form_register">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">Login
             
            </div>
                <div class="card-body">
                    <form method="post" action="/dologin">
                        <div class="form-group">
                            <label for="user">UserName</label>
                            <input id="user" name="name" class="form-control" type="text" placeholder="Enter your name..." aria-label="user.."  />
                            <label for="password">Password</label>
                            <input id="password" name="password" class="form-control" type="password" placeholder="Enter a password..." aria-label="password..."  /><br>
                         

                            <button type="submit" class="btn btn-primary">Submit</button>  
                            <p>{{ mensaje }}</p>                      
                        </div>
                    </form>    
                </div>                
            </div>  
        </div>
    </div>

    <!-- </div> -->
{% endblock %}